*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
}

html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    /* gap: 15px; */
    grid-template-columns: 25% 25% 50%;
    grid-template-rows: 10% 60% 30%;

    grid-template-areas: 
    "header header header"
    "left-center left-center right"
    "left-bottom1 left-bottom2 right";
    
}
.header{
    background-color: blue;
    grid-area: header;
}
.left-center{
    background-color: blueviolet;
    grid-area: left-center;
}
.right{
    background-color: brown;
    grid-area: right;
}
.left-bottom1{
    background-color: burlywood;
    grid-area: left-bottom1;
}
.left-bottom2{
    background-color: cadetblue;
    grid-area: left-bottom2;
}