*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: azure;
}

html,body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 65% 35%;

    grid-template-areas: 
    "top1 top2 top3"
    "bottom bottom top3";
  
}
.top1{
    background-color: darkblue;
    grid-area: top1;
}
.top2{
    background-color: darkcyan;
    grid-area: top2;
}
.top3{
    background-color: darkgoldenrod;
    grid-area: top3;
}
.bottom{
    background-color: darkgreen;
    grid-area: bottom;
}